{% load static %}

<head>
    <link rel = "stylesheet" href= "{% static 'css/Sogammun.css' %}">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class = "container">
        <h1><strong>전국배</strong></h1>
        
        {% if user.is_active %}
        <p id = "Dologin">{{ user.username }}님 반갑습니다!</p>
        <a href = "{% url 'logout' %}" id = button3 class="btn btn-default">logout</a>

        {% else %}
        <p id = "Notlogin">당신은 로그인하지 않았습니다! 로그인을 해주세요!</p>
        <a href = "{% url 'accounts:signup' %}" id = button1 class="btn btn-default" >SIGNUP</a>
        <a href = "{% url 'login' %}" id = button2 class="btn btn-default" >LOGIN</a>
        {% endif %}

    {% block content %}
    {% endblock %}

    </div>
    
</body>