{% extends "Sogammun/base.html" %}

{% block content %}


    <h1> {{post.title}} </h1>
    <p id = "date"> {{post.created_date}} </p>
    <div>
        <a href = "{% url 'edit' post.id %}">EDIT</a>
        <a href = "{% url 'delete' post.id %}">DELETE</a>
        <a href = "{% url 'home' %}">HOME</a>
        <p> {{post.text}} </p>
    </div>

    <hr>

    <p>댓글 {{ post.comments.count }}개</p>
    <div class="form-group">
        

        {% for comment in post.comments.all %}
        <div>
            <div>{{comment.created_date}}</div>
            <strong>{{comment.nickname}}</strong>
            {{comment.text|linebreaks}}
            <a href = "{% url 'comment_delete' comment_id=comment.id %}" id = "del" class="btn btn-default" onclick = "return confirm('정말로 삭제하시겠습니까?')">댓글 삭제</a>
        </div>
        
        {% empty %}
        <p>아무 댓글이 없어요!</p>
        {% endfor %}

        <h4>댓글 작성</h4>
        <form method="POST" action="{% url 'add_comment' post.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type = "submit" id = "button5" class = "save btn btn-default" >작성</button>
        </form>
            
    </div>

    
{% endblock %}