h1{
    color: goldenrod;
}

#button1 {
    position: relative;
    left: 470px;
    bottom : 80px;
    margin-right: 10px;
    margin-left: 10px;
}

#button2 {
    position: relative;
    left: 470px;
    bottom : 80px;
}

#Notlogin {
    position: relative;
    left: 150px;
    bottom: 40px;
}

#button3 {
    position: relative;
    left: 280px;
    bottom : 80px;
}

#Dologin {
    position: relative;
    left: 150px;
    bottom: 40px;
}

#button4 {
    position: relative;
    bottom: 0px;
    top: 500px;
}

#date {
    position: relative;
    left: 150px;
    bottom: 40px;
}

#del {
    position: relative;
    left: 200px;
    bottom: 60px;
}

#button5 {
    position: relative;
    left: 330px;
    bottom: 50px;
}
